<h1><%= t '.title' %></h1>

<div class="row-fluid">
  <div class="span7">
    <div class="span presentation">
      <p>
        <%= raw t('.presentation.esgi.intro') %>
      </p>
      <p>
        <%= raw t('.presentation.esgi.presentation') %>
      </p>
      <p>
        <%= raw t('.presentation.ratp') %>
      </p>
      <p>
        <%= raw t('.presentation.resources') %>
      </p>
      <p>
        <%= raw t('.presentation.conclusion') %>
      </p>
    </div>
    <div class="span follow">
      <h1><%= t '.follow.title' %></h1>
      <ul>
        <li>
          <a href="http://feeds.feedburner.com/RemyHannequin-Portfolio" title="<%= t '.follow.rss' %>">
            <img src="/img/rss.png" alt="Flux RSS" height="40" width="40" /></a>
        </li>
        <li>
          <a href="http://twitter.com/rhannequin" title="<%= t '.follow.twitter' %>">
            <img src="/img/twitter.png" alt="Twitter" width="40" height="40" />
          </a>
        </li>
        <li>
          <a href="https://github.com/rhannequin" title="<%= t '.follow.github' %>">
            <img src="/img/github.png" alt="Github" height="40" width="40">
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/profile/view?id=102517434" title="<%= t '.follow.linkedin' %>">
            <img src="/img/linkedin.png" alt="LinkedIn" height="40" width="40" />
          </a>
        </li>
        <li>
          <a href="http://www.viadeo.com/fr/profile/remy.hannequin" title="<%= t '.follow.viadeo' %>">
            <img src="/img/viadeo.png" alt="Viadeo" width="40" height="39" />
          </a>
        </li>
        <li>
          <a href="https://www.masterbranch.com/developer/RemyHannequin" title="<%= t '.follow.masterbranch' %>">
            <img src="/img/masterbranch.png" alt="Vimeo" width="40" height="39" />
          </a>
        </li>
      </ul>
    </div>
    <div class="span tweets">
      <h1><%= t '.tweets.title' %></h1>
      <div id="contentTweets">
        <img src="/img/ajaxLoader.gif" alt="<%= t '.tweets.loading' %>">
      </div>
    </div>
  </div>
  <div class="span5">
    <div class="span dates">
      <h2><%= t '.experience.title' %></h2>
      <ul>
        <li class="date"><%= t '.experience.ratp.employee.date' %></li>
        <li><%= t '.experience.ratp.employee.label' %></li>
        <li class="date"><%= t '.experience.kontest.date' %></li>
        <li><%= t '.experience.kontest.label' %></li>
        <li class="date"><%= t '.experience.urbanmedia.date' %></li>
        <li><%= t '.experience.urbanmedia.label' %></li>
        <li class="date"><%= t '.experience.ratp.intern.date' %></li>
        <li><%= t '.experience.ratp.intern.label' %></li>
      </ul>
    </div>
    <div class="span school dates">
      <h2><%= t '.school.title' %></h2>
      <ul>
        <li class="date"><%= t '.school.esgi.date' %></li>
        <li><%= t '.school.esgi.label' %></li>
        <li class="date"><%= t '.school.atc.date' %></li>
        <li><%= t '.school.atc.label' %></li>
        <li class="date"><%= t '.school.src.date' %></li>
        <li><%= t '.school.src.label' %></li>
        <li class="date"><%= t '.school.bac.date' %></li>
        <li><%= t '.school.bac.label' %></li>
      </ul>
    </div>
    <div class="row dev">
      <h2><%= t '.development.title' %></h2>
      <div class="span6">
        <h3><%= t '.development.environment.title' %></h3>
        <ul>
          <li><%= t '.development.environment.git' %> : <a href="http://nvie.com/posts/a-successful-git-branching-model"><%= t '.development.environment.git_branching_model' %></a></li>
          <li><%= t '.development.environment.linux' %></li>
          <li>
            <%= t '.development.environment.api.title' %><ul>
              <li><%= t '.development.environment.api.facebook' %></li>
              <li><%= t '.development.environment.api.youtube' %></li>
              <li><%= t '.development.environment.api.dailymotion' %></li>
              <li><%= t '.development.environment.api.deezer' %></li>
              <li><%= t '.development.environment.api.ga' %></li>
              <li><%= t '.development.environment.api.foursquare' %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="span6">
        <h3><%= t '.development.tools.title' %></h3>
        <ul>
          <li><%= t '.development.tools.php' %></li>
          <li><%= t '.development.tools.js' %></li>
          <li><%= t '.development.tools.cf' %></li>
          <li><%= t '.development.tools.rb' %></li>
          <li><%= t '.development.tools.html' %></li>
        </ul>
        <ul>
          <li><%= t '.development.tools.sf' %></li>
          <li><%= t '.development.tools.ror' %></li>
          <li><%= t '.development.tools.node' %></li>
          <li><%= t '.development.tools.libsjs' %></li>
        </ul>
      </div>
    </div>
    <p><a href="/profile"><%= t '.development.more' %></a></p><!-- TODO: check URL %-->
    <div class="span works" id="work">
      <h1><%= t '.works.title' %></h1>
      <!-- TODO: portfolio -->
    </div>
  </div>
</div>