<div id="top"></div>

<h1>Profil</h1>
<div class="row-fluid head">
  <div class="nav">
    <ul>
      <li><a href="#competences">Compétences</a></li>
      <li><a href="#experiences">Expériences</a></li>
      <li><a href="#formation">Formation</a></li>
      <li><a href="#personnel">Personnel</a></li>
    </ul>
  </div>
</div>

<h2 id="competences">Compétences</h2>

<h3>Développement Web</h3>

<h4>Langages</h4>
<div class="row-fluid languages competences">
  <div class="span6">
    <h5>Je maîtrise</h5>
    <ul>
      <li class="row">
        <div class="span6 language">
          <strong><abbr title="Hypertext Preprocessor">PHP</abbr> 5</strong>
        </div>
        <div class="span6">
          <%= setMark(5, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          <abbr title="eXtensible HyperText Markup Language">HTML</abbr>
        </div>
        <div class="span6">
          <%= setMark(5, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          <strong>JavaScript</strong>
        </div>
        <div class="span6">
          <%= setMark(4, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          <strong>CoffeeScript</strong>
        </div>
        <div class="span6">
          <%= setMark(4, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          <abbr title="Cascading Style Sheets">CSS</abbr>
        </div>
        <div class="span6">
          <%= setMark(4, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          <abbr title="Structured Query Language">SQL</abbr>
        </div>
        <div class="span6">
          <%= setMark(4, 5) %>
        </div>
      </li>
    </ul>
  </div>
  <div class="span6">
    <h5>J'ai des connaissances</h5>
    <ul>
      <li class="row">
        <div class="span6 language">
          <strong>Ruby</strong>
        </div>
        <div class="span6">
          <%= setMark(3, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          Grunt
        </div>
        <div class="span6">
          <%= setMark(3, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          Java
        </div>
        <div class="span6">
          <%= setMark(2, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          <abbr title="Extensible Markup Language">XML</abbr>
        </div>
        <div class="span6">
          <%= setMark(2, 5) %>
        </div>
      </li>
      <li class="row">
        <div class="span6 language">
          ActionScript 3
        </div>
        <div class="span6">
          <%= setMark(2, 5) %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row-fluid skills competences">
  <div class="span6">
    <h4>Base de données</h4>
    <ul>
      <li><strong>PostgreSQL</strong></li>
      <li><strong>MongoDB</strong></li>
      <li>pgAdmin</li>
      <li>MySQL</li>
      <li>PhpMyAdmin</li>
      <li><strong>MySQL Workbench</strong></li>
    </ul>
  </div>
  <div class="span6">
    <h4>Frameworks / Librairies</h4>
    <ul>
      <li><strong>Ruby On Rails 3</strong></li>
      <li><strong>NodeJS / Express</strong></li>
      <li><strong>Symfony</strong> 1.0 avec l'<abbr title="Object-Relational Mapping">ORM</abbr> Propel</li>
      <li><strong>Symfony</strong> 2.1 avec l'<abbr title="Object-Relational Mapping">ORM</abbr> Doctrine</li>
      <li>jQuery</li>
      <li><strong>BackboneJS</strong></li>
      <li><strong>UnderscoreJS</strong> / <strong>Lodash</strong></li>
      <li><strong>Handlebars</strong></li>
    </ul>
  </div>
</div>

<div class="row-fluid skills competences">
  <div class="span6">
    <h4>Système de contrôle de version (<abbr title="Version Control Systems">VCS</abbr>)</h4>
    <p>
      Je suis formé à <strong>GIT</strong> et maîtrises l'ensemble ses fonctionnalités de branches. J'ai également adopté le <strong><a href="http://nvie.com/posts/a-successful-git-branching-model/">git-flow</a></strong> pour la plupart de mes projets personnels. Vous pouvez d'ailleurs <a href="https://www.masterbranch.com/developer/RemyHannequin">consulter l'évolution de mes projets Github et Bitbucket sur Masterbranch</a>.
    </p>
  </div>
  <div class="span6 apis">
    <h4><abbr title="Application Programming Interface">API</abbr>'s :</h4>
    <ul>
      <li>YouTube API</li>
      <li>Dailymotion API</li>
      <li>Deezer API</li>
      <li>Google Analytics / Event Tracking</li>
      <li>Facebook</li>
      <li>Twitter API</li>
      <li>Foursquare API</li>
    </ul>
  </div>
</div>

<div class="row-fluid skills competences">
  <div class="span6">
    <h4>Mes logiciels préférés pour travailler :</h4>
    <ul>
      <li>Sublime Text 2</li>
      <li>Eclipse</li>
      <li>Apache HTTP Server</li>
      <li>SmartGit</li>
    </ul>
  </div>
  <div class="span6 wp">
    <h4>Système de gestion de contenu (<abbr title="Content Management System">CMS</abbr>)</h4>
    <p><strong>Wordpress</strong></p>
  </div>
</div>

<div class="row-fluid env">
  <h4>Mes environnements</h4>
  <p>
    Je travaille essentiellement avec la distribution <strong>GNU/Linux</strong> <strong>Ubuntu</strong> afin de bénéficier du meilleur à la fois dans les performances que dans l'esprit libre et Open Source. Je maîtrise également l'environnement Windows 7 et je possède les connaissances de base de Mac OS X.
  </p>

  <h4>Divers</h4>
  <p>
   Connaissances en <strong>ergonomie</strong>, accessibilité Web, <strong>référencement naturel</strong>, <strong>URL Rewriting</strong> et protection des données en ligne.
  </p>
</div>

<div class="row-fluid">
  <h3>
    Réseaux
  </h3>
  <ul>
    <li>Architecture des ordinateurs et des réseaux</li>
    <li>Accès WIFI et Firewall</li>
    <li>Administration de réseaux Unix et Windows, gestion des groupes, des comptes et des partages</li>
  </ul>

  <h3>
    Autres compétences
  </h3>
  <h4>Logiciels</h4>
  <p>
    Photoshop, InDesign, Flash, VMWare, Final Cut Pro, Suite OpenOffice, Suite Microsoft Office.
  </p>
  <h4>Divers</h4>
  <p>
    Connaissances en gestion de projet : suivi de projet, planning prévisionnel, expression des besoins.
  </p>
</div>

<h2 id="experiences">Expériences</h2>
<h3>Actuellement</h3>
<p>
  <strong>Développeur Web</strong> en <strong>alternance</strong> à la <abbr title="Régie Autonome des Transports Parisiens">RATP</abbr>.<br />
</p>

<h3>Apprentissage</h3>

<div class="row-fluid experiences">
  <div class="span1 exp_date">2011 - 2012</div>
  <div class="span11">
    <h4>12 mois<br />Kontest (Krash Studio SARL) - Paris</h4>
    <ul>
      <li>Ajout de fonctionnalités à la plate-forme <a href="http://kontestapp.com/fr">kontestapp.com</a>.</li>
      <li>Développement de la typologie <a href="http://kontestapp.com/fr/solution/types-jeux-concours/blindtest">Blindtest</a> avec l'<a href="http://developers.deezer.com/api">API Deezer</a>.</li>
      <li>Création suite de tests fonctionnels avc Selenium IDE et Selenium RC.</li>
      <li>Développement de la fonctionnalité Media Loader avec les API <a href="https://developers.google.com/youtube/getting_started">YouTube</a>, <a href="http://www.dailymotion.com/doc/api/index.html">Dailymotion</a> et <a href="http://developers.deezer.com/api">Deezer</a>.</li>
    </ul>
  </div>
</div>

<h3>Stages conventionnés / Alternance</h3>

<div class="row-fluid experiences">
  <div class="span1 exp_date">Av. - Juin<br />2011</div>
  <div class="span11">
    <h4>12 mois<br />Kontest (Krash Studio SARL) - Paris</h4>
    <ul>
      <li>Ajout de fonctionnalités à la plate-forme <a href="http://kontestapp.com/fr">kontestapp.com</a>.</li>
      <li>Développement de la typologie <a href="http://kontestapp.com/fr/solution/types-jeux-concours/blindtest">Blindtest</a> avec l'<a href="http://developers.deezer.com/api">API Deezer</a>.</li>
      <li>Création suite de tests fonctionnels avc Selenium IDE et Selenium RC.</li>
      <li>Développement de la fonctionnalité Media Loader avec les API <a href="https://developers.google.com/youtube/getting_started">YouTube</a>, <a href="http://www.dailymotion.com/doc/api/index.html">Dailymotion</a> et <a href="http://developers.deezer.com/api">Deezer</a>.</li>
    </ul>
  </div>
</div>
<div class="row-fluid experiences">
  <div class="span1 exp_date">Av. - Juin<br />2011</div>
  <div class="span11">
    <h4>10 semaines<br />Urbanmedia Studio Pte Ltd - <strong>Singapour</strong></h4>
    <ul>
      <li>Ajout de fonctionnalités à une application iPhone et Android</li>
      <li>Génération et envoi automatique de factures électroniques (<abbr title="Portable Document Format">PDF</abbr>)</li>
      <li>Céation et personnalisation d’une carte Google Maps</li>
    </ul>
  </div>
</div>
<div class="row-fluid experiences">
  <div class="span1 exp_date">Juillet<br />2010</div>
  <div class="span11">
    <h4>5 semaines<br />
      <abbr title="Régie Autonome des Transports Parisiens">
        RATP
      </abbr> - Département des Systèmes d'Information et de Télécommunications</h4>
    <ul>
      <li>Participation au projet du moteur de recherche du site <a href="http://www.ratp.fr/">ratp.fr</a></li>
      <li>Création de l’algorithme de recherche et réalisation du code <strong><abbr title="Hypertext Preprocessor">PHP</abbr></strong></li>
      <li>Elaboration des tests fonctionnels et de montée en charge</li>
      <li>Profiling</li>
    </ul>
  </div>
</div>

<p class="go_top"><a href="#top">Haut de page</a></p>

<h2 id="formation">
  Formation
</h2>
<h3>
  Actuellement
</h3>
<p>
  Master of Science Ingénierie du Web et e-business en <strong>alternance</strong> à l'<abbr title="École Supérieure de Génie Informatique">ESGI</abbr><br />
  <span id="developper" onclick="montre_div('more_master');">En savoir plus sur le master Ingénierie du Web et e-business</span>
</p>

<script type="text/javascript">
//<!--
function montre_div(more_master)
{
  $("#more_master").show();
  $("#developper").replaceWith('<span id="developper" onclick="cache_div(\'more_master\');">En savoir plus sur le master Ingénierie du Web et e-business</span>');
}
function cache_div(more_master)
{
  $("#more_master").hide();
  $("#developper").replaceWith('<span id="developper" onclick="montre_div(\'more_master\');">En savoir plus sur le master Ingénierie du Web et e-business</span>');
}
//-->
</script>
<div id="more_master">
  <p>
    Le <strong>Master of Science Ingénierie du Web et e-business</strong> est un diplôme certifié et reconnu par l'Etat au niveau I. C'est une formation ayant pour but de spécialiser les étudiants sur le Web et l'e-business afin qu'ils deviennent expert dans ce métier.
  </p>
  <p>
    Cette formation vise à répondre à la demande des industriels en profils double compétence, capables de développer des projets et de créer de la valeur grâce à la technologie. Elle permet d'acquérir des compétences d'expertise dans trois grands secteurs : technologies innovantes et d'intégration de l'Internet, conduite de projets (interfaces avec les prestataires spécialisés, travail en équipes interdisciplinaire) et e-Commerce et gestion de l'activité de site (stratégie marketing, communication, suivi de trafic, référencement, gestion de bases de données, maintenance technique, ergonomie de navigation).
  </p>
</div>

<h3>Diplômes obtenus</h3>

<div class="row-fluid experiences">
  <div class="span1 exp_date">Sept. 2012</div>
  <div class="span11">
    <h4>
      <strong>Licence professionnelle</strong> <abbr title="Activités et Techniques de Communication">ATC</abbr> Services et Technologies de l'Information et de la Communication (STIC)
    </h4>
    <p>
      Université Paris-Est Marne la Vallée (77)
    </p>
  </div>
</div>
<div class="row-fluid experiences">
  <div class="span1 exp_date">Juin 2011</div>
  <div class="span11">
    <h4>
      <strong><abbr title="Diplôme Universitaire de Technologie">DUT</abbr></strong> <strong>Services et Réseaux de Communication</strong> (<strong>SRC</strong>)
    </h4>
    <p>
      Université Paris-Est Marne la Vallée (77)
    </p>
  </div>
</div>
<div class="row-fluid experiences">
  <div class="span1 exp_date">Juin 2009</div>
  <div class="span11">
    <h4>BAC Série S option Sciences de l’Ingénieur spécialité Mathématiques, mention AB</h4>
    <p>
      Lycée Louis Armand de Nogent sur Marne (94)
    </p>
  </div>
</div>

<p class="go_top"><a href="#top">Haut de page</a></p>

<h2 id="personnel">Personnel</h2>

<h3>Handball</h3>

<ul>
  <li>Pratique en club et compétitions depuis 10 ans</li>
  <li>Participation à des tournois régionaux</li>
  <li>Participation à l'organisation de tournois</li>
</ul>

<h3>Autres sports</h3>
<ul>
  <li>Vélo</li>
  <li>Natation</li>
  <li>Badminton</li>
</ul>

<h3>Événements : participation à des ateliers et meetup</h3>
<ul>
  <li>Facebook Developer Garage</li>
  <li>Atelier GIT</li>
  <li>ParisJS</li>
  <li>W3C CSS Meetup</li>
  <li>Hackathon</li>
</ul>

<h3>Centres d'intérêt</h3>
<ul>
  <li>Musique: acid-jazz, soul, funk, musiques d'ambiance, musiques du monde</li>
  <li>Lecture : hebdomadaires d'actualités et veille technologique</li>
  <li>Cinéma : comédie, science-fiction, aventure, thriller</li>
  <li>Informatique, multimédia.</li>
</ul>

<p class="go_top"><a href="#top">Haut de page</a></p>