<h1><%= @project.title %></h1>

<p>Slug : <%= @project.slug %></p>
<p>Description : <%= @project.title %></p>
<p>Content : <%= @project.content %></p>
<p>Priority : <%= @project.priority %></p>
<p>Position : <%= @project.position %></p>
<p>Published : <%= @project.published %></p>
<p>Tags : <% @project.tags.each do |tag| %>
  <%= tag.label %> |
<% end %></p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>