<div class="row-fluid">
  <div class="span8">
    <h1><%= @project.title %></h1>
    <p class="tags-label">Tags associés :</p>
    <p>
      <% @project.tags.each do |tag| %>
        <span class="label label-inverse"><%= tag.label %></span>
      <% end %>
    </p>
    <p class="description">
      <%= @project.description.html_safe %>
    </p>
  </div>

  <div class="span4 images">
    <% if @project.uploads.size > 0 %>
      <% @project.uploads.each_with_index do |upload, index| %>
        <!-- Modal large upload -->
        <div id="img_<%= index %>" class="modal hide fade in" style="display: none; ">
          <a class="close" data-dismiss="modal">×</a>
          <%= image_tag(upload.upload.url(:large)) %>
        </div>
        <a class="link_img" data-toggle="modal" href="#img_<%= index %>" id="img_<%= index %>">
          <img src="<%= upload.upload.url(:medium) %>" alt="Illustration du projet <%= @project.title %>" />
        </a>
      <% end %>
      <p class="nav">
        <a href="#" class="prev"><i class="icon-arrow-left"></i></a>
        <a href="#" class="next"><i class="icon-arrow-right"></i></a>
      </p>
    <% end %>
  </div>
</div>

<div class="row-fluid creation-content">
  <div class="span">
    <%= @project.content.html_safe %>
  </div>
</div>

<h2 class="similar-title">Ces projets pourraient également vous intéresser :</h2>
<div class="row-fluid similar">
  <% @similars.each do |project| %>
  <div class="span6">
    <h3>
      <%= link_to(project.title, show_portfolio_path(project.slug)) %>
    </h3>
    <p><%= project.description %></p>
  </div>
  <% end %>
</div>