<!DOCTYPE html>
<html>
<head>
  <title>Rémy Hannequin - Développeur Web : JavaScript, PHP, Ruby, HTML5 CSS3 - <%= @title %></title>
  <%= stylesheet_link_tag    "bootstrap.min", "bootstrap-responsive.min", "application", controller_name, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="Author" content="Rémy Hannequin" />
  <meta name="description" content="Portfolio de Rémy Hannequin, passionné du Web. Développeur Web JavaScript PHP Ruby. <%= @description_page %>" />
  <meta name="keywords" content="internet, developpeur, developer, web, php, symfony, git, html, css, javascript, ruby <%= @keywords %>" />
  <%= csrf_meta_tags %>
  <!-- TODO Facebook meta tags -->
  <!-- TODO no follow page 404 -->
</head>
<body>

  <header class="masthead">
    <div class="container">
      <span id="gravatar" class="visible-desktop"><a href="/"></a></span>
      <ul class="nav nav-pills pull-right">
        <li class="<%= 'active' if action_name     == 'home' %>"><a href="/">Accueil</a></li>
        <li class="<%= 'active' if action_name     == 'profile' %>"><a href="/profile">Profil</a></li>
        <li class="<%= 'active' if controller_name == 'portfolio' %>"><a href="/portfolio">Portfolio</a></li>
        <li class="<%= 'active' if action_name     == 'contact' %>"><a href="/contact">Contact</a></li>
        <!-- TODO: check URLs -->
      </ul>
      <h3 class="muted name"><a href="/">Rémy Hannequin</a></h3>
      <h3 class="muted job"><a href="/"><span class="bracket">{</span> Développeur Web <span class="bracket">}</a></span></h3>
    </div>
  </header>

  <div id="css_green"></div>

  <div class="container <%= action_name %>">
      <p id="fil_ariane">
        Vous êtes :
        <% if controller_name == 'portfolio' %>
          <%= fil_ariane(action_name, @title, true) %>
        <% else %>
          <%= fil_ariane(action_name, @title, false) %>
        <% end %>
      </p>

      <div class="main">
        <%= yield %>
      </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span4">
          <h3>Profil</h3>
          <hr />
          <ul>
            <li><a href="/profile#formation">Formation</a></li>
            <hr />
            <li><a href="/profile#experiences">Expériences</a></li>
            <hr />
            <li><a href="/profile#competences">Compétences</a></li>
            <hr />
            <li><a href="/profile#personnel">Personnel</a></li>
            <hr />
            <li><a href="/CV_Remy_Hannequin.pdf">CV (PDF)</a> / <a href="/curriculum-vitae">CV (HTML)</a></li>
            <!-- TODO: check URL -->
            <hr />
          </ul>
        </div>
        <div class="span4">
          <h3>Suivez-moi</h3>
          <hr />
          <ul>
            <li><a href="http://feeds.feedburner.com/RemyHannequin-Portfolio">Flux RSS</a></li>
            <hr />
            <li><a href="http://twitter.com/rhannequin">Twitter</a></li>
            <hr />
            <li><a href="https://github.com/rhannequin">Github</a></li>
            <hr />
            <li><a href="http://www.linkedin.com/profile/view?id=102517434">LinkedIn</a></li>
            <hr />
            <li><a href="http://www.viadeo.com/fr/profile/remy.hannequin">Viadeo</a></li>
            <hr />
          </ul>
        </div>
        <div class="span4">
          <h3>Liens</h3>
          <hr />
          <ul>
            <li><a href="http://www.esgi.fr">ESGI</a></li>
            <hr />
            <li><a href="http://ratp.fr">RATP</a></li>
            <hr />
            <li><a href="/plan">Plan du site</a></li>
            <hr />
            <li><a href="/accessibilite">Politique d'accessibilité</a></li>
            <hr />
            <li><a href="/contact">Contact</a></li>
            <hr />
          </ul>
      </div>

    </div>
  </footer>

  <!-- TODO: events analytics -->

</body>
</html>