<!DOCTYPE html>
<html>
<head>
  <title><%= t 'layout.head.title' %> - <%= @title %></title>
  <%= stylesheet_link_tag    "bootstrap.min", "bootstrap-responsive.min", "application", controller_name, :media => "all" %>
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="Author" content="Rémy Hannequin" />
  <meta name="description" content="<%= t 'layout.head.description' %> <%= @description_page %>" />
  <meta name="keywords" content="<%= t 'layout.head.keywords' %> <%= @keywords %>" />
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Rémy Hannequin - Développeur Web - <%= @title %>" />
  <meta property="og:url" content="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" />
  <meta property="og:site_name" content="Portfolio de Rémy Hannequin, passionné du Web. Développeur Web PHP Symfony. <%= @description_page %>" />
  <meta property="og:image" content="/img/portrait1.jpg" />
  <!-- TODO no follow page 404 -->
</head>
<body>

  <header class="masthead">
    <div class="container">
      <span id="gravatar" class="visible-desktop"><a href="/"></a></span>
      <ul class="nav nav-pills pull-right">
        <li class="<%= 'active' if action_name     == 'home' %>"><a href="/"><%= t 'layout.head.home' %></a></li>
        <li class="<%= 'active' if action_name     == 'about' %>"><a href="/profile"><%= t 'layout.head.profile' %></a></li>
        <li class="<%= 'active' if controller_name == 'portfolio' %>"><a href="/portfolio"><%= t 'layout.head.portfolio' %></a></li>
        <li class="<%= 'active' if action_name     == 'contact' %>"><a href="/contact"><%= t 'layout.head.contact' %></a></li>
      </ul>
      <h3 class="muted name"><a href="/"><%= t 'layout.head.name' %></a></h3>
      <h3 class="muted job"><a href="/"><span class="bracket">{</span> <%= t 'layout.head.job' %> <span class="bracket">}</span></a></h3>
    </div>
  </header>

  <div id="css_green"></div>

  <div class="container <%= action_name %>">
      <p id="fil_ariane">
        <%= t 'layout.you_are' %>
        <% if controller_name == 'portfolio' %>
          <%= fil_ariane(action_name, @title, true) %>
        <% else %>
          <%= fil_ariane(action_name, @title, false) %>
        <% end %>
      </p>

      <div class="main">
        <%= yield %>
      </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span4">
          <h3><%= t 'layout.footer.profile.title' %></h3>
          <hr />
          <ul>
            <li><a href="/abut#formation"><%= t 'layout.footer.profile.school' %></a></li>
            <hr />
            <li><a href="/about#experiences"><%= t 'layout.footer.profile.experience' %></a></li>
            <hr />
            <li><a href="/about#competences"><%= t 'layout.footer.profile.skills' %></a></li>
            <hr />
            <li><a href="/about#personnel"><%= t 'layout.footer.profile.personal' %></a></li>
            <!-- TODO: english links -->
            <hr />
          </ul>
        </div>
        <div class="span4">
          <h3><%= t 'layout.footer.follow.title' %></h3>
          <hr />
          <ul>
            <li><a href="http://feeds.feedburner.com/RemyHannequin-Portfolio"><%= t 'layout.footer.follow.rss' %></a></li>
            <hr />
            <li><a href="http://twitter.com/rhannequin"><%= t 'layout.footer.follow.twitter' %></a></li>
            <hr />
            <li><a href="https://github.com/rhannequin"><%= t 'layout.footer.follow.github' %></a></li>
            <hr />
            <li><a href="http://www.linkedin.com/profile/view?id=102517434"><%= t 'layout.footer.follow.linkedin' %></a></li>
            <hr />
            <li><a href="http://www.viadeo.com/fr/profile/remy.hannequin"><%= t 'layout.footer.follow.viadeo' %></a></li>
            <hr />
          </ul>
        </div>
        <div class="span4">
          <h3><%= t 'layout.footer.links.title' %></h3>
          <hr />
          <ul>
            <li><a href="http://www.esgi.fr"><%= t 'layout.footer.links.esgi' %></a></li>
            <hr />
            <li><a href="http://ratp.fr"><%= t 'layout.footer.links.ratp' %></a></li>
            <hr />
            <li><a href="/sitemap"><%= t 'layout.footer.links.sitemap' %></a></li>
            <hr />
            <li><a href="/accessibilite"><%= t 'layout.footer.links.accessibility' %></a></li>
            <hr />
            <li><a href="/contact"><%= t 'layout.footer.links.contact' %></a></li>
            <hr />
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script data-params='<%= @require_js_params.to_json %>' data-script="<%= @require_js_script %>" data-main="/assets/main.js" src="/assets/require.js" id="require-js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41594062-1']);
    _gaq.push(['_setDomainName', 'rhannequin.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>